/*formulario y mapa*/
#contacto {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
#contacto h2:first-child {
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  font-size: 3rem;
  color: #a43f48;
  max-width: 1200px;
  margin: 1rem;
}

.contact-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  height: 4rem;
}

.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  width: 100%;
}
.contact-form textarea {
  resize: none;
}
.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}
.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}
.contact-form *::placeholder {
  color: black;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}
.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 800ms ease;
}
.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}
.none {
  display: none;
}
.btn-form {
  background-color: #efefef;
  border: none;
  color: black;
  width: 125px;
  height: 35px;
  padding: 0;
  margin-right: 0;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}
.map h3 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
.logo-map {
  width: 50px;
}
.information {
  padding: 0 1rem;
  width: inherit;
  font-size: 15px;
  background-size: 20px;
  min-height: 23px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
  min-height: 3rem;
}

.information p {
  padding-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  color: #a43f48;
}
.flat {
  width: 90%;
  display: flex;
  justify-content: center;
}
.flat iframe {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #contacto {
    margin-top: 7rem;
  }
  #contacto h2:first-child {
    font-size: 4rem;
  }
  .map {
    padding: 2rem;
  }
}
@media screen and (min-width: 992px) {
  #contacto h2:first-child {
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-map {
    flex-direction: row;
    align-items: flex-start;
  }
  .map h2 {
    margin-bottom: 3rem;
    color: #a43f48;
  }
  .contact h2 {
    margin-bottom: 5rem;
  }
}

/* marcas */
.swiper {
  margin-bottom: 4rem;
}
.swiper-slide img {
  height: 100px;
  width: 100%;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .swiper {
    margin-bottom: 0;
    max-width: 2000px;
  }
  .swiper-slide img {
    height: 100px;
    width: 100%;
  }
}
