/**********services***********/
.services {
  margin: 0 auto;
  margin-bottom: 5rem;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.services h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #a43f48;
  max-width: 1200px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  padding: 0.5rem;
}
.container-card-service h3 {
  font-size: 1.7rem;
  padding: 1rem;
}
.container-card-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}
.card-service {
  width: 100vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  position: relative;
  padding: 1rem;
}
.card-service img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.card-service-text {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .services {
    padding-top: 6rem;
  }
  .services h2 {
    font-size: 4rem;
  }
  .container-card-service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

    margin-bottom: 4rem;
  }
  .card-service {
    width: 375px;
  }
  .card-service h3 {
    height: 5rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  .services {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .services h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  .card-service-text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .container-card-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
  }

  .card-service img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .card-service-text {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
  }
  .card-service-text:hover {
    background-color: #fff;
    color: black;
  }
}
