/* ********** Custom Properties ********** */
/*instalando fuente externa*/
@font-face {
  font-family: bankGothic;
  src: url(assets/bankrus.ttf);
  font-display: swap;
}
:root {
  --max-width: 1200px;
}

/* ********** Reset ********** */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  font-size: 5rem;
  margin-bottom: 3rem;
  color: #a43f48;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
body {
  /* background-color: #403060;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  margin: 0;
  overflow-x: hidden;
}

/* para eliminar la barra de desplazamiento horizontal que generan la imagenes grandes*/
img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.none {
  display: none;
}

/********** video**************/
.video {
  height: auto;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  position: relative;
  overflow-y: hidden;
}
.video p {
  position: absolute;
  font-size: 7vw;
  font-weight: bold;
  text-align: center;
  background-color: none;
  top: 8rem;
  color: #efefef;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.video video {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .video p {
    top: 8rem;
  }
}
@media screen and (min-width: 1024px) {
  .video p {
    top: 12rem;
  }
  .video {
    align-items: center;
    padding-top: 3rem;
  }
  .video video {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
}

/* ********** Header********** */
.header {
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 4rem;
  border-top: 1px black solid;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  background-color: #a43f48;
  max-width: 768px;
}
.logo img {
  height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    height: 6rem;
    border-top: none;
    border-bottom: 1px black solid;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .header > .container {
    background-color: #fff;
    margin: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    border-bottom: 1px solid black;
  }
  .header h1 {
    padding-right: 1rem;
    display: block;
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    color: #a43f48;
  }
  .logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
}
.header h1 {
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .header h1 {
    font-size: 2.5rem;
  }
}

/* ********** Menu ********** */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  justify-content: center;
}
.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu-btn {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
}
.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #a43f48;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    background-color: transparent;
  }
  .menu a {
    font-size: 1.2rem;
    color: #a43f48;
    transition: color 3s ease;
    position: relative;
  }
  .menu a::before {
    content: "";
    position: absolute;
    background-color: #a43f48;
    bottom: 1rem;
    width: 85%;
    text-align: center;
    height: 3px;
    transition: transform 0.5s ease-in-out;
    transform: scale(0);
    transform-origin: right;
  }
  .menu a:hover::before {
    transform: scale(1);
    transform-origin: left;
  }

  .menu a:hover {
    color: #000;
  }
  .menu a:last-child {
    padding-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .menu a {
    font-size: 1.5rem;
  }
}

/*secciones*/

.section {
  background-color: transparent;
  width: 100vw;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
  }
}

/******* quienes somos **********/

.aboutUs h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #a43f48;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.aboutUs {
  position: relative;
  margin: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.aboutText {
  font-size: 4.5vw;
  text-align: left;
  padding: 0rem 1rem;
  position: relative;
  color: 00050;
}
.aboutText div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1rem;
  shape-outside: circle();
}
.aboutText div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.aboutText div:first-child {
  float: right;
}

.aboutText div:nth-child(4) {
  float: left;
}
@media screen and (min-width: 576px) {
  .aboutUs h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  .aboutText div {
    width: 250px;
    height: 250px;
  }
  .aboutText {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  .aboutUs h2 {
    font-size: 5rem;
  }
  .aboutText {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .aboutUs {
    margin-top: 2rem;
  }
}
/**********services***********/
.services {
  margin: 0 auto;
  margin-bottom: 5rem;
}

.services h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #a43f48;
  max-width: 1200px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  padding: 0.5rem;
}
.container-card-service h3 {
  font-size: 1.8rem;
  padding: 1rem;
}
.container-card-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 1rem;
}
.card-service {
  width: 100vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  height: auto;
  position: relative;
  padding: 1rem;
}
.card-service img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.card-service-text {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .services {
    padding-top: 6rem;
  }
  .services h2 {
    font-size: 4rem;
  }
  .container-card-service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    height: 85%;
    margin-bottom: 4rem;
  }
  .card-service {
    width: 375px;
  }
  .card-service h3 {
    height: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .services {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .services h2 {
    font-size: 5rem;
  }
  .card-service-text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .container-card-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 80%;
  }

  .card-service img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .card-service-text {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
  }
  .card-service-text:hover {
    background-color: #fff;
    color: black;
  }
}

/*clientes*/
.customers-contain {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.customers-contain h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  font-size: 3rem;
  color: #a43f48;
  max-width: 1200px;
  margin: 2rem 1rem;
}
.swiper {
  height: 10rem;
}
.swiper-slide img {
  width: 80vw;
  height: inherit;
  object-fit: contain;
  background-color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .customers-contain h2 {
    font-size: 4rem;
  }
  .customers-contain {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 992px) {
  .customers-contain h2 {
    font-size: 5rem;
  }
  .swiper {
    height: 15rem;
  }
  .swiper-slide img {
    height: inherit;
    object-fit: cover;
  }
  .customers-contain {
    margin-bottom: 0rem;
  }
}
