/*********** Proyectos destacados ***********/

.works {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  max-width: 1200px;
}
.works h2 {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #a43f48;
  max-width: 1200px;
  margin-right: 1rem;
  margin-left: 1rem;
}
.container-card-works {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  min-height: 90%;
  padding: 1rem;
}
.card-work {
  max-width: 1200px;
  min-width: 350px;
  min-height: 350px;
  margin: 1rem;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}
.card-work p {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
.card-work img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
}
.swiper-button-next,
.swiper-button-prev {
  transform: translateY(-12rem);
}
@media screen and (min-width: 768px) {
  .works {
    margin-top: 6rem;
    margin-bottom: 0;
  }
  .card-work img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 0.5rem;
  }
  .works h2 {
    font-size: 4rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    transform: translateY(0);
  }
}
@media screen and (min-width: 992px) {
  .card-work img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 0.5rem;
  }
  .works h2 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery {
    width: 1100px;
  }
  .card-work img {
    width: 260px;
    height: 260px;
  }
}
